@import url('reset.css');
@import url('global.css');

/* 다크 테마 */
body.dark, header.dark{
  color: #fff;
  background: #333;
}
/* 헤더  */
header{
  width: 100%;
  background: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
}
header.active{
  box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .3);
}
header .menu{
  display: flex;
  align-items: center;
}
header .navbar ul{
  display: flex;
}
header .navbar ul li{
  margin: 0 1rem;
}
header .navbar ul li a{
  font-size: 1.5rem;
  transition: .2s;
}
header .navbar ul li .active,
header .navbar ul li a:hover{
  color: var(--primary-color);
}
header .logo{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: .2s;
}
header .logo i{
  font-size: 3rem;
  margin-right: .5rem;
}
header .logo:hover{
  color: var(--primary-color);
  letter-spacing: .1rem;
}
header .mode{
  font-size: 2.5rem;
  cursor: pointer;
  transition: 1s;
}
header .mode i:not(.active){
  display: none;
}
/* 서비스, 스토리, 연락처 */
section:not(.footer){
  width: 50vw;  
  height: calc(100vh - 80px); /* 헤더높이만큼 제외함 */
  min-height: calc(100vh - 80px); /* 헤더높이만큼 제외함 */
  max-height: calc(100vh - 80px); /* 헤더높이만큼 제외함 */
  margin: 0 auto;
  position: relative;
}
section.about{ /* 그냥 .about 으로 하니까 적용안되고 section.about 으로 해야 적용됨. 시맨틱 태그라서 그런듯 */
  height: 100vh; /* 헤더의 position이 fixed이므로 about 섹션이 헤더높이만큼 위로 올라가서 공간이 80px만큼 남기 때문에 전체높이 100vh 에 맞춰야 공간이 안남음*/
  min-height: 100vh; 
  max-height: 100vh; 
}
.image img{
  height: 50vh;
  width: 100%;
}
.content{
  padding: 3rem 2rem;
}
.content h3{
  width: 50%;
  font-size: 2rem;
  color: var(--primary-color);
  transition: .7s ease-out;
}
.content p{
  font-size: 1.2rem;
  padding: 1rem 0;
  width: 50%;
  margin-left: auto;
  line-height: 2rem;
  transition: .7s ease-out;
}
.content button{
  width: 12rem;
  height: 3.5rem;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: .2s;
  margin-top: 2rem;
  position: absolute;
  bottom: 2rem;
}
.content button:hover{
  background: var(--secondary-color);
  letter-spacing: .2rem;
}


/* 푸터 */
.footer{
  width: 100vw; /* section width 는 45vw 이지만 css 우선순위 때문에 푸터에는 100vw 가 적용됨 */
  background: var(--primary-color);
}
.footer .icons{
  padding: 3rem 0;
  display: flex;
}
.footer .icons .scroll-up{
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}
.footer .icons .scroll-up i{
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
  transition: .2s;
}
.footer .icons .scroll-up i:hover{
  color: #fff;
  transform: scale(1.2);
}
.footer .icons a{
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  margin: 0 .2rem;
  transition: .2s linear;
}
.footer .icons a:hover{
  color: #fff;
  transform: scale(1.5);
}
.footer .credit{
  font-size: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .credit i{
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  margin-right: .5rem;
}

/* 애니메이션 효과 */
.up{
  /* y 좌표를 아래쪽으로 100px 만큼 내린다 */
  transform: translate(0, 3rem); 
  opacity: 0;
}
.down{
  /* y 좌표를 위쪽으로 100px 만큼 올린다 */
  transform: translate(0, -3rem);
  opacity: 0;
}
/* x 좌표를 오른쪽으로 100px 만큼 이동한다 */
.left {
  transform: translate(3rem, 0);
  opacity: 0;
}
/* x 좌표를 왼쪽으로 100px 만큼 이동한다 */
.right {
  transform: translate(-3rem, 0);
  opacity: 0;
}
.show{
  opacity: 1;
  transform: none;
}